/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .wrapper{
  text-align: center;
 }

 .container-form{
 }

 .container{
  background-color: #fafafa;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin: auto;
  width: 500px;
 }

 .title{
  text-align: center;
 }

 .content{
  text-align: left;
  padding: 10px;
 }

 h2{
  padding: 10px;
  margin: 1px;
 }

 .buttons{
  width: 70%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
 }

 a{
  text-decoration: none;
  color: gray;
  padding: 10px;
 }

 #article_content{
  width: 200px;
 }

 .edit_article{
  padding: 10px;
 }
